<h1>Inventaire</h1>

<div *ngFor="let info of infos">
  <div>{{infoOfQuantite(info.quantite, info.title)}}</div>
  <div *ngIf="info.comments">{{info?.comments}}</div>
  <div *ngIf="info.color">{{info?.color}}</div>
  <div *ngIf="info.materiaux">{{info?.materiaux}}</div>
  <div *ngIf="info.data">
    <div>{{info.data}}</div>
  </div>

  <button (click)="command(info)">Commander</button>
  <button (click)="cancel(info)">Annuler</button>
  <button #relance (click)="relancer(info)">Reclamer</button>
</div>
